:root {
  // icon sizes

  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;

  // colors

  // background

  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;

  // text

  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;

  // interactive elements

  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
  --button-focus-color: #efefef;
}
