@import "../helpers/_variables";

main.about-me {
  margin: 0 0 3em 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  section.about-me-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    article.intro-background {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg:nth-of-type(2) {
        position: absolute;
        width: 60%;
      }
    }
    article.intro-content {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      h1,
      p {
        text-align: center;
      }
    }
  }
  section.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    article.something-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      align-self: center;
    }
    article.capabilities,
    article.personal-skills {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      width: 100%;
      padding: 0 1em;
      align-self: center;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        list-style-type: square;
      }
    }
    article.capabilities {
      background: var(--background);
      padding: 2em 1em;
      h2 {
        color: var(--text-color);
      }
      ul {
        li {
          &::marker,
          p {
            color: var(--text-color);
          }
        }
      }
    }
    article.personal-skills {
      ul {
        li {
          &::marker {
            color: var(--secondary-text-color);
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  main.about-me {
    section.about-me-intro {
      article.intro-background {
        svg:first-of-type {
          width: 60%;
        }
        svg:nth-of-type(2) {
          width: 30%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main.about-me {
    section.about-me-intro {
      article.intro-background {
        svg:first-of-type {
          width: 50%;
        }
        svg:nth-of-type(2) {
          width: 25%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  main.about-me {
    section.about-me-intro {
      article.intro-background {
        svg:first-of-type {
          width: 40%;
        }
        svg:nth-of-type(2) {
          width: 20%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  main.about-me {
    section.about-me-intro {
      article.intro-background {
        svg:first-of-type {
          width: 35%;
        }
        svg:nth-of-type(2) {
          width: 15%;
        }
      }
    }
  }
}
