@import "../helpers/_variables";

main.project-page {
  margin: 0 0 3em 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  section.project-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    article.introduction-title {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: 90%;
    }
    article.introduction-background {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      figure {
        position: absolute;
        width: 70%;
      }
    }
    article.introduction-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      align-self: center;
      h2 {
        text-align: center;
      }
      p:nth-of-type(2) {
        text-align: center;
      }
    }
  }
  section.process {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    article.content {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 2em;
      align-items: center;
      justify-content: center;
      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
      }
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        background: var(--background);
        padding: 1em 0;
        img {
          width: 90%;
        }
        img {
          width: 90%;
        }
        figcaption {
          padding: 0 1em;
        }
      }
      figure.double-image {
        figure {
          display: flex;
          flex-direction: column;
          gap: 1em;
          padding: 0;
        }
      }
      figure.amoebe {
        figure {
          padding: 0;
          img {
            width: 50%;
          }
        }
        article.colors {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 2em;
          grid-column-gap: 2em;
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: baseline;
            gap: 0.5em;
            li:first-of-type {
              width: 50%;
              aspect-ratio: 1/1;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 1em;
              p {
                width: 100%;
                text-align: center;
              }
            }
            li:nth-of-type(2) {
              width: 70%;
              p {
                text-align: center;
                width: 100%;
                color: var(--text-color);
              }
            }
            &:first-of-type {
              li:first-of-type {
                background: #b1eeb0;
              }
            }
            &:nth-of-type(2) {
              li:first-of-type {
                background: #ffffff;
              }
            }
            &:nth-of-type(3) {
              li:first-of-type {
                background: #000000;
              }
              li {
                p {
                  color: var(--text-color);
                }
              }
            }
            &:nth-of-type(4) {
              li:first-of-type {
                background: #6aafef;
              }
            }
            &:nth-of-type(5) {
              li:first-of-type {
                background: #f36060;
              }
            }
            &:nth-of-type(6) {
              li:first-of-type {
                background: #53c951;
              }
            }
          }
        }
      }
    }
  }
  section.results {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
    }
    figure {
      width: 90%;
      video {
        width: 100%;
      }
    }
  }
}

a.go-to,
button#horrorflix-go-to,
button#amoebe-go-to {
  color: var(--text-color);
  text-decoration: none;
  background: var(--button-color);
  width: fit-content;
  padding: 0.5em;
  border-radius: 20px;
  align-self: center;

  &:hover {
    background: var(--button-hover-color);
  }

  &:active {
    background: var(--button-active-color);
  }
}

@media (min-width: 576px) {
  main.project-page {
    section.project-introduction {
      margin-top: 4em;
      article.introduction-background {
        svg {
          width: 60%;
        }
        figure {
          width: 40%;
        }
      }
      article.achievements {
        width: 80%;
        ul {
          list-style-type: square;
        }
      }
    }
    section.process {
      article.content {
        figure {
          gap: 2em;
          padding: 4em 0;
          img {
            width: 80%;
          }
        }
        figure.double-image {
          figure {
            padding: 0;
            img {
              width: 60%;
            }
            img.double-code {
              width: 80%;
            }
          }
        }
        figure.amoebe {
          figure {
            padding: 0;
            img {
              width: 40%;
            }
          }
          article.colors {
            grid-template-columns: 1fr 1fr 1fr;
            ul {
              gap: 1em;
              li:first-of-type {
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 60%;
        }
      }
    }
    section.process {
      article.content {
        figure {
          img {
            width: 80%;
          }
        }
        figure.double-image {
          figure {
            img.horrorflix-js-code {
              width: 80%;
            }
            img.alien-sketches {
              width: 50%;
            }
          }
        }
      }
    }
  }
  section.results {
    figure {
      width: 80%;
    }
  }
}

@media (min-width: 992px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 50%;
        }
        figure {
          width: 30%;
        }
      }
      article.introduction-text {
        gap: 2em;
      }
    }
    section.process {
      gap: 2em;
      article.content {
        figure {
          img {
            width: 70%;
          }
        }
        figure.double-image {
          flex-direction: row;
          figure {
            img {
              height: 15em;
              width: auto;
              align-self: flex-start;
            }
            img.alien-sketches {
              height: 18em;
              width: auto;
              align-self: center;
            }
            img.terminal {
              height: 14em;
            }
            img.double-code {
              height: 13em;
              width: auto;
            }
          }
        }
        figure.amoebe {
          figure {
            img {
              width: 50%;
            }
          }
          article.colors {
            width: 60%;
          }
        }
      }
    }

    section.results {
      gap: 2em;
      figure {
        width: 60%;
      }
    }
  }
}

@media (min-width: 1200px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 40%;
        }
        figure {
          width: 18em;
        }
      }
    }
    section.process {
      article.content {
        figure {
          img {
            width: 60%;
          }
        }
        figure.double-image {
          figure {
            img {
              height: 18em;
            }
            img.terminal {
              height: 17em;
            }
            img.alien-sketches {
              height: 20em;
            }
            img.double-code {
              height: 17em;
            }
          }
        }
        figure.amoebe {
          article.colors {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 40%;
        }
        figure {
          width: 25%;
        }
      }
    }
    section.process {
      article.content {
        figure {
          img {
            width: 50%;
          }
        }
        figure.double-image {
          figure {
            img {
              height: 20em;
            }
            img.alien-sketches {
              height: 25em;
            }
            img.terminal {
              height: 20em;
            }
            img.double-code {
              height: 20em;
            }
          }
        }
        figure.amoebe {
          figure {
            img {
              width: 55%;
            }
          }
          article.colors {
            width: 40%;
          }
        }
      }
    }
    section.results {
      figure {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1650px) {
  main.project-page {
    section.project-introduction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      article.introduction-background {
        svg {
          width: 40%;
        }
        figure {
          transform: translate(0, -2em);
        }
      }
    }
  }
}
