@import "../helpers/_variables";

main.project-page {
  margin: 0 0 3em 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  section.project-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    article.introduction-title {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: 90%;
    }
    article.introduction-background {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      figure {
        position: absolute;
        width: 70%;
      }
    }
    article.introduction-text {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 90%;
      align-self: center;
      h2 {
        text-align: center;
      }
      a {
        color: var(--text-color);
        text-decoration: none;
        background: var(--button-color);
        width: fit-content;
        padding: 0.5em;
        border-radius: 20px;
        align-self: center;

        &:hover {
          background: var(--button-hover-color);
        }
      }
    }
  }
  section.process {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    article.content {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 2em;
      align-items: center;
      justify-content: center;
      // width: 90%;
      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        p {
          width: 90%;
        }
      }
      figure {
        display: flex;
        justify-content: center;
        img {
          width: 90%;
        }
      }
    }
  }
  section.results {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
    }
    figure {
      width: 90%;
    }
    p {
      width: 90%;
    }
  }
}

@media (min-width: 576px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 60%;
        }
        figure {
          width: 40%;
        }
      }
      article.achievements {
        width: 80%;
        ul {
          list-style-type: square;
        }
      }
    }
    section.process {
      article.content {
        article {
          p {
            width: 80%;
          }
        }
        // width: 80%;
      }
    }
    section.results {
      p {
        width: 80%;
      }
    }
  }
}

@media (min-width: 768px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 60%;
        }
      }
      article.achievements {
        width: 70%;
      }
    }
    section.process {
      article.content {
        article {
          p {
            width: 70%;
          }
        }
        figure {
          img {
            width: 80%;
          }
        }
      }
    }
    section.results {
      figure {
        width: 80%;
      }
      p {
        width: 70%;
      }
    }
  }
}

@media (min-width: 992px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 50%;
        }
        figure {
          width: 30%;
        }
      }
      article.achievements {
        width: 60%;
      }
    }
    section.process {
      article.content {
        article {
          p {
            width: 60%;
          }
        }
        figure {
          img {
            width: 70%;
          }
        }
      }
    }
    section.results {
      figure {
        width: 70%;
      }
      p {
        width: 60%;
      }
    }
  }
}

@media (min-width: 1200px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 40%;
        }
        figure {
          width: 18em;
        }
      }
    }
    section.process {
      article.content {
        figure {
          img {
            width: 60%;
          }
        }
      }
    }
    section.results {
      figure {
        width: 60%;
      }
    }
  }
}

@media (min-width: 1200px) {
  main.project-page {
    section.project-introduction {
      article.introduction-background {
        svg {
          width: 40%;
        }
        figure {
          // width: 22em;
          width: 25%;
        }
      }
    }
  }
}

@media (min-width: 1650px) {
  main.project-page {
    section.project-introduction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      article.introduction-background {
        svg {
          width: 40%;
        }
        figure {
          transform: translate(0, -2em);
        }
      }
      article.introduction-content {
        position: absolute;
        align-self: center;
        bottom: 0;
        transform: translate(0, -12em);
        h1,
        p {
          color: var(--text-color);
        }
      }
    }
  }
}
