:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;
  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;
  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;
  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Josefin Sans", sans-serif;
  color: var(--secondary-text-color);
}

figcaption,
button,
a,
small {
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

p,
a,
button {
  font-size: 1em;
}

small {
  font-style: italic;
}

em {
  font-weight: 400;
}

main.home section.introduction p {
  width: 80%;
}
main.home section.projects article article.content h2 {
  text-align: center;
}
main.home section.projects article article.content p:first-of-type {
  text-align: center;
}
main.home section.projects article article.content p:nth-of-type(2) {
  text-align: left;
  width: 80%;
}

main.project-page section.project-introduction article.introduction-title h1,
main.project-page section.project-introduction article.introduction-title p {
  text-align: center;
}
main.project-page section.process h2 {
  text-align: center;
}

@media (min-width: 576px) {
  h1 {
    font-size: 1.5em;
  }
  main section.introduction p {
    width: 70%;
  }
}
@media (min-width: 768px) {
  figcaption,
  p,
  em {
    font-size: 1.1em;
  }
  small {
    font-size: 1em;
  }
  main section.introduction p {
    width: 60%;
  }
  main section.projects article article.content p:nth-of-type(2) {
    width: 60%;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.3em;
  }
  main section.projects article article.content p:nth-of-type(2) {
    width: 90%;
  }
}
@media (min-width: 1400px) {
  main section.projects article article.content p:nth-of-type(2) {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  main section.projects article article.content p:nth-of-type(2) {
    width: 70%;
  }
}
:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;
  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;
  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;
  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
}

:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;
  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;
  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;
  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
}

header {
  background: var(--background);
  height: 3em;
  position: sticky;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
header nav a {
  margin-left: 0.8em;
}
header nav a img.logo-small {
  width: 2.5em;
}
header nav button {
  margin-right: 0.8em;
}
header nav button img {
  width: var(--icon-md);
}
header nav button#close-menu {
  position: absolute;
  right: 0;
}

ul.hamburger-menu {
  position: fixed;
  top: 3em;
  background: var(--background);
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding-top: 5em;
  gap: 2em;
  transition: 0.5s;
}

ul.hamburger-menu a,
ul.navigation a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  position: relative;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--tertiary-background), var(--tertiary-background));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  text-decoration: none;
}
ul.hamburger-menu a:hover,
ul.navigation a:hover {
  background-size: 100% 0.1em;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  width: 100%;
  height: 3em;
}
footer ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 1em;
}
footer ul a img {
  width: var(--icon-md);
}
footer small {
  margin-right: 1em;
}

@media (max-width: 576px) {
  ul.navigation {
    display: none;
  }
}
@media (min-width: 576px) {
  button#open-menu,
  button#close-menu {
    display: none;
  }
  ul.navigation {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-right: 0.8em;
  }
}
@media (min-width: 768px) {
  header nav a:first-of-type {
    margin-left: 1em;
  }
  header nav ul.navigation {
    margin-right: 1em;
  }
  footer a img {
    width: var(--icon-lg);
  }
}
@media (min-width: 1200px) {
  header nav ul.navigation {
    margin-right: 2em;
  }
  footer ul {
    margin-left: 2em;
  }
  footer small {
    margin-right: 2em;
  }
}
@media (min-width: 1400px) {
  main section.introduction p {
    width: 40%;
  }
  main section.projects article article.background svg {
    width: 40em;
  }
  main section.projects article article.background a {
    width: 18em;
  }
}
:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;
  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;
  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;
  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
}

main.home {
  margin: 3em 0 3em 0;
}
main.home section.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
main.home section.introduction figure.my-picture {
  position: relative;
}
main.home section.introduction figure.my-picture img {
  border-radius: 200px;
  width: 8em;
  position: relative;
}
main.home section.introduction figure.my-picture figcaption {
  position: absolute;
  background: var(--background);
  padding: 0.5em;
  width: fit-content;
  transform: translate(3em, -2em);
}
main.home section.introduction figure.my-picture::before {
  content: "";
  position: absolute;
  background: var(--background);
  width: 8em;
  bottom: -0.5em;
  left: -0.5em;
  aspect-ratio: 1/1;
  border-radius: 200px;
}
main.home section.projects {
  display: grid;
  grid-template-columns: 1fr;
}
main.home section.projects article article.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.home section.projects article article.background svg {
  width: 100%;
}
main.home section.projects article article.background a {
  position: absolute;
  width: 70%;
  transform: translate(0, 1em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
main.home section.projects article article.background a img {
  transition: 0.5s;
}
main.home section.projects article article.background a:hover img {
  transform: scale(1.1);
}
main.home section.projects article article.background a:active img {
  filter: drop-shadow(0em 0em 0.5em #1a1a1a);
}
main.home section.projects article article.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
}
main.home section.projects article article.button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
main.home section.projects article article.button a {
  text-decoration: none;
  color: var(--text-color);
  background: var(--button-color);
  padding: 0.5em;
  border-radius: 20px;
}
main.home section.projects article article.button a:hover {
  background: var(--button-hover-color);
}

@media (min-width: 576px) {
  main.home {
    margin: 5em 0 5em 0;
  }
  main.home section.projects article article.background svg {
    width: 60%;
  }
  main.home section.projects article article.background a {
    width: 40%;
  }
  main.home section.projects article article.content {
    margin-bottom: 2em;
    gap: 1em;
  }
}
@media (min-width: 768px) {
  main.home section.introduction figure.my-picture img {
    width: 10em;
  }
  main.home section.introduction figure.my-picture::before {
    width: 10em;
  }
  main.home section.projects article article.background svg {
    width: 50%;
  }
  main.home section.projects article article.background a {
    width: 30%;
  }
}
@media (min-width: 992px) {
  main.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main.home section.projects {
    width: 90%;
  }
  main.home section.projects article {
    display: flex;
  }
  main.home section.projects article:first-of-type, main.home section.projects article:nth-of-type(3), main.home section.projects article:nth-of-type(5) {
    flex-direction: row;
  }
  main.home section.projects article:nth-of-type(2), main.home section.projects article:nth-of-type(4) {
    flex-direction: row-reverse;
  }
  main.home section.projects article article.background svg {
    width: 30em;
  }
  main.home section.projects article article.background a {
    width: 60%;
  }
  main.home section.projects article article.content {
    align-self: center;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  main.home section.introduction {
    gap: 4em;
  }
  main.home section.introduction p {
    width: 50%;
  }
  main.home section.projects article article.background svg {
    width: 35em;
  }
  main.home section.projects article article.background a {
    width: 60%;
  }
  main.home section.projects article article.content {
    gap: 2em;
  }
}
@media (min-width: 1400px) {
  main.home section.projects {
    width: 80%;
  }
  main.home section.projects article article.background svg {
    width: 40em;
  }
}
@media (min-width: 1650px) {
  main.home section.introduction p {
    width: 40%;
  }
  main.home section.projects article article.content p:nth-of-type(2) {
    width: 70%;
  }
}
:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;
  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;
  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;
  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.open-menu {
  display: flex;
  visibility: visible;
  opacity: 1;
}

a:focus,
button:focus {
  outline: none;
  border: 3px dotted var(--button-active-color);
}

p a {
  color: var(--button-color);
}
p a:hover {
  color: var(--button-hover-color);
}

.spoiler-warning {
  color: var(--warning-text-color);
}

:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;
  --background: #2c2f33;
  --secondary-background: #c9d3e3;
  --tertiary-background: #efefef;
  --text-color: #efefef;
  --secondary-text-color: #232323;
  --warning-text-color: #791111;
  --button-color: #466ca4;
  --button-hover-color: #253957;
  --button-active-color: #1a1a1a;
}

main.project-page {
  margin: 0 0 3em 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
main.project-page section.project-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
main.project-page section.project-introduction article.introduction-title {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 90%;
}
main.project-page section.project-introduction article.introduction-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main.project-page section.project-introduction article.introduction-background figure {
  position: absolute;
  width: 70%;
}
main.project-page section.project-introduction article.introduction-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  align-self: center;
}
main.project-page section.project-introduction article.introduction-text h2 {
  text-align: center;
}
main.project-page section.project-introduction article.introduction-text p:nth-of-type(2) {
  text-align: center;
}
main.project-page section.process {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
main.project-page section.process article.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
  align-items: center;
  justify-content: center;
}
main.project-page section.process article.content article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
main.project-page section.process article.content article p {
  width: 90%;
}
main.project-page section.process article.content figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background: var(--background);
  padding: 1em 0;
}
main.project-page section.process article.content figure img {
  width: 90%;
}
main.project-page section.process article.content figure img {
  width: 90%;
}
main.project-page section.process article.content figure figcaption {
  padding: 0 1em;
}
main.project-page section.process article.content figure.double-image figure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}
main.project-page section.process article.content figure.amoebe figure {
  padding: 0;
}
main.project-page section.process article.content figure.amoebe figure img {
  width: 50%;
}
main.project-page section.process article.content figure.amoebe article.colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}
main.project-page section.process article.content figure.amoebe article.colors ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  gap: 0.5em;
}
main.project-page section.process article.content figure.amoebe article.colors ul li:first-of-type {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
main.project-page section.process article.content figure.amoebe article.colors ul li:first-of-type p {
  width: 100%;
  text-align: center;
}
main.project-page section.process article.content figure.amoebe article.colors ul li:nth-of-type(2) {
  width: 70%;
}
main.project-page section.process article.content figure.amoebe article.colors ul li:nth-of-type(2) p {
  text-align: center;
  width: 100%;
  color: var(--text-color);
}
main.project-page section.process article.content figure.amoebe article.colors ul:first-of-type li:first-of-type {
  background: #b1eeb0;
}
main.project-page section.process article.content figure.amoebe article.colors ul:nth-of-type(2) li:first-of-type {
  background: #ffffff;
}
main.project-page section.process article.content figure.amoebe article.colors ul:nth-of-type(3) li:first-of-type {
  background: #000000;
}
main.project-page section.process article.content figure.amoebe article.colors ul:nth-of-type(3) li p {
  color: var(--text-color);
}
main.project-page section.process article.content figure.amoebe article.colors ul:nth-of-type(4) li:first-of-type {
  background: #6aafef;
}
main.project-page section.process article.content figure.amoebe article.colors ul:nth-of-type(5) li:first-of-type {
  background: #f36060;
}
main.project-page section.process article.content figure.amoebe article.colors ul:nth-of-type(6) li:first-of-type {
  background: #53c951;
}
main.project-page section.results {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
main.project-page section.results h2 {
  text-align: center;
}
main.project-page section.results figure {
  width: 90%;
}
main.project-page section.results figure video {
  width: 100%;
}
main.project-page section.results p {
  width: 90%;
}

a.go-to,
button#horrorflix-go-to,
button#amoebe-go-to {
  color: var(--text-color);
  text-decoration: none;
  background: var(--button-color);
  width: fit-content;
  padding: 0.5em;
  border-radius: 20px;
  align-self: center;
}
a.go-to:hover,
button#horrorflix-go-to:hover,
button#amoebe-go-to:hover {
  background: var(--button-hover-color);
}

@media (min-width: 576px) {
  main.project-page section.project-introduction {
    margin-top: 4em;
  }
  main.project-page section.project-introduction article.introduction-background svg {
    width: 60%;
  }
  main.project-page section.project-introduction article.introduction-background figure {
    width: 40%;
  }
  main.project-page section.project-introduction article.achievements {
    width: 80%;
  }
  main.project-page section.project-introduction article.achievements ul {
    list-style-type: square;
  }
  main.project-page section.project-introduction article.introduction-text {
    width: 80%;
  }
  main.project-page section.process article.content article p {
    width: 80%;
  }
  main.project-page section.process article.content figure {
    gap: 2em;
    padding: 4em 0;
  }
  main.project-page section.process article.content figure img {
    width: 80%;
  }
  main.project-page section.process article.content figure.double-image figure {
    padding: 0;
  }
  main.project-page section.process article.content figure.double-image figure img {
    width: 60%;
  }
  main.project-page section.process article.content figure.double-image figure img.double-code {
    width: 80%;
  }
  main.project-page section.process article.content figure.amoebe figure {
    padding: 0;
  }
  main.project-page section.process article.content figure.amoebe figure img {
    width: 40%;
  }
  main.project-page section.process article.content figure.amoebe article.colors {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main.project-page section.process article.content figure.amoebe article.colors ul {
    gap: 1em;
  }
  main.project-page section.process article.content figure.amoebe article.colors ul li:first-of-type {
    width: 70%;
  }
  main.project-page section.results p {
    width: 80%;
  }
}
@media (min-width: 768px) {
  main.project-page section.project-introduction article.introduction-background svg {
    width: 60%;
  }
  main.project-page section.project-introduction article.introduction-text {
    width: 70%;
  }
  main.project-page section.process article.content article p {
    width: 70%;
  }
  main.project-page section.process article.content figure img {
    width: 80%;
  }
  main.project-page section.process article.content figure.double-image figure img.horrorflix-js-code {
    width: 80%;
  }
  main.project-page section.process article.content figure.double-image figure img.alien-sketches {
    width: 50%;
  }
  section.results figure {
    width: 80%;
  }
  section.results p {
    width: 70%;
  }
}
@media (min-width: 992px) {
  main.project-page section.project-introduction article.introduction-background svg {
    width: 50%;
  }
  main.project-page section.project-introduction article.introduction-background figure {
    width: 30%;
  }
  main.project-page section.project-introduction article.introduction-text {
    gap: 2em;
    width: 60%;
  }
  main.project-page section.process {
    gap: 2em;
  }
  main.project-page section.process article.content article p {
    width: 60%;
  }
  main.project-page section.process article.content figure img {
    width: 70%;
  }
  main.project-page section.process article.content figure.double-image {
    flex-direction: row;
  }
  main.project-page section.process article.content figure.double-image figure img {
    height: 15em;
    width: auto;
    align-self: flex-start;
  }
  main.project-page section.process article.content figure.double-image figure img.alien-sketches {
    height: 18em;
    width: auto;
    align-self: center;
  }
  main.project-page section.process article.content figure.double-image figure img.terminal {
    height: 14em;
  }
  main.project-page section.process article.content figure.double-image figure img.double-code {
    height: 13em;
    width: auto;
  }
  main.project-page section.process article.content figure.amoebe figure img {
    width: 50%;
  }
  main.project-page section.process article.content figure.amoebe article.colors {
    width: 60%;
  }
  main.project-page section.results {
    gap: 2em;
  }
  main.project-page section.results figure {
    width: 60%;
  }
  main.project-page section.results p {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  main.project-page section.project-introduction article.introduction-background svg {
    width: 40%;
  }
  main.project-page section.project-introduction article.introduction-background figure {
    width: 18em;
  }
  main.project-page section.process article.content figure img {
    width: 60%;
  }
  main.project-page section.process article.content figure.double-image figure img {
    height: 18em;
  }
  main.project-page section.process article.content figure.double-image figure img.terminal {
    height: 17em;
  }
  main.project-page section.process article.content figure.double-image figure img.alien-sketches {
    height: 20em;
  }
  main.project-page section.process article.content figure.double-image figure img.double-code {
    height: 17em;
  }
  main.project-page section.process article.content figure.amoebe article.colors {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  main.project-page section.project-introduction article.introduction-background svg {
    width: 40%;
  }
  main.project-page section.project-introduction article.introduction-background figure {
    width: 25%;
  }
  main.project-page section.project-introduction article.introduction-text {
    width: 50%;
  }
  main.project-page section.process article.content article p {
    width: 50%;
  }
  main.project-page section.process article.content figure img {
    width: 50%;
  }
  main.project-page section.process article.content figure.double-image figure img {
    height: 20em;
  }
  main.project-page section.process article.content figure.double-image figure img.alien-sketches {
    height: 25em;
  }
  main.project-page section.process article.content figure.double-image figure img.terminal {
    height: 20em;
  }
  main.project-page section.process article.content figure.double-image figure img.double-code {
    height: 20em;
  }
  main.project-page section.process article.content figure.amoebe figure img {
    width: 55%;
  }
  main.project-page section.process article.content figure.amoebe article.colors {
    width: 40%;
  }
  main.project-page section.results figure {
    width: 50%;
  }
  main.project-page section.results p {
    width: 50%;
  }
}
@media (min-width: 1650px) {
  main.project-page section.project-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  main.project-page section.project-introduction article.introduction-background svg {
    width: 40%;
  }
  main.project-page section.project-introduction article.introduction-background figure {
    transform: translate(0, -2em);
  }
  main.project-page section.project-introduction article.introduction-text {
    width: 40%;
  }
  main.project-page section.process article.content article p {
    width: 40%;
  }
  main.project-page section.results p {
    width: 40%;
  }
}/*# sourceMappingURL=styles.css.map */